*{
    box-sizing: border-box;
}

img,
iframe,
video,
audio {
    max-width: 100%;
}
body {

    background-color: yellow;
    background-image: url(assets/card-dark-floating.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
font-family: Arial, sans-serif;

}

main {background-color: rgba(255, 0, 0, 0.8);
    padding: 3%
}

/*navigation */

nav {
    background-color: #f1f1f1
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

/*general layout stuff */

.col-layout {
    background-color: tan;
}

@media screen and (min-width:800px) {
    .col-layout {
        background-color: violet;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
}



}


/* components */



